/*Layout*/

html {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 1em;
    height: 100vh; 
    max-height: 100vh;
}

header {
    flex: 1 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    align-self: flex-end;
    background-color: black;
    width: 100wh;
}

/*Styling*/
header {
    display: flex;
    flex-direction: column;
    background-color: black;
    flex: none;
    
}

header h1 {
    color: white;
    text-align: center;
}

nav {
    align-items: center;
    color: white;
}

nav li {
    padding: 0,01em;
    list-style: none;
    text-align: center;
}

body {
    background-color: beige;
}
.social p {
    color: white;
}